<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/XML/XMLDocument.xml to edit this template
-->



<ns1:persistence
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xmlns:ns1='http://xmlns.jcp.org/xml/ns/persistence'
    xsi:schemaLocation='http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_2.xsd'>
    <ns1:persistence-unit name="" transaction-type="">
        <ns1:description></ns1:description>
        <ns1:provider></ns1:provider>
        <ns1:jta-data-source></ns1:jta-data-source>
        <ns1:non-jta-data-source></ns1:non-jta-data-source>
        <ns1:mapping-file></ns1:mapping-file>
        <ns1:mapping-file></ns1:mapping-file>
        <ns1:mapping-file></ns1:mapping-file>
        <ns1:jar-file></ns1:jar-file>
        <ns1:jar-file></ns1:jar-file>
        <ns1:jar-file></ns1:jar-file>
        <ns1:class></ns1:class>
        <ns1:class></ns1:class>
        <ns1:class></ns1:class>
        <ns1:exclude-unlisted-classes>true</ns1:exclude-unlisted-classes>
        <ns1:shared-cache-mode></ns1:shared-cache-mode>
        <ns1:validation-mode></ns1:validation-mode>
        <ns1:properties>
            <ns1:property name="" value=""></ns1:property>
            <ns1:property name="" value=""></ns1:property>
            <ns1:property name="" value=""></ns1:property>
        </ns1:properties>
    </ns1:persistence-unit>
    <ns1:persistence-unit name="" transaction-type="">
        <ns1:description></ns1:description>
        <ns1:provider></ns1:provider>
        <ns1:jta-data-source></ns1:jta-data-source>
        <ns1:non-jta-data-source></ns1:non-jta-data-source>
        <ns1:exclude-unlisted-classes>true</ns1:exclude-unlisted-classes>
        <ns1:shared-cache-mode></ns1:shared-cache-mode>
        <ns1:validation-mode></ns1:validation-mode>
        <ns1:properties>
        </ns1:properties>
    </ns1:persistence-unit>
    <ns1:persistence-unit name="" transaction-type="">
        <ns1:description></ns1:description>
        <ns1:provider></ns1:provider>
        <ns1:jta-data-source></ns1:jta-data-source>
        <ns1:non-jta-data-source></ns1:non-jta-data-source>
        <ns1:exclude-unlisted-classes>true</ns1:exclude-unlisted-classes>
        <ns1:shared-cache-mode></ns1:shared-cache-mode>
        <ns1:validation-mode></ns1:validation-mode>
        <ns1:properties>
        </ns1:properties>
    </ns1:persistence-unit>

</ns1:persistence>

